<div id="wrapper">

		<div id="header" class="dark navbar-toggleable-md sticky clearfix shadow-before-1">

			<!-- TOP NAV -->
			<header id="topNav">
				<div class="container">

					<!-- Mobile Menu Button -->
					<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
					</button>

					<!-- BUTTONS -->
					<ul class="float-right nav nav-pills nav-second-main">




					</ul>
					<!-- /BUTTONS -->


					<!-- Logo -->
					<a class="submenu-dark" href="index.html">
						<%= image_tag("R22.png", :alt => "RocketElevator-logo", :class => "img-fluid", :width =>"150", :height =>"60") %>
					</a>

					<div class="navbar-collapse collapse float-right nav-main-collapse">
						<nav class="nav-main">

							<ul id="topMain" class="nav nav-pills nav-main">
								<li>
									<!-- HOME -->
									<a href="/">
										HOME
									</a>

								</li>

								<li>
									<!-- SERVICES -->
									<a href="/#to_services">
										SERVICES
									</a>
									<ul class="dropdown-menu">
										<li><a href="/RocketElevatorsWebpage_Residential.html">Residential offers</a></li>
										<li><a href="/RocketElevatorsWebpage_Corporate.html">Corporate offers</a></li>
										<li><a href="/RocketElevatorsWebpage_submission.html">Submission</a></li>
									</ul>

								<li>
									<!-- PORTFOLIO -->
									<a href="/#to_portfolio">
										PORTFOLIO
									</a>

								<li>
									<!-- NEWS -->
									<a href="/#to_news">
										NEWS
									</a>

								</li>


								<li>
									<!-- CLIENTS -->
									<a href="/#to_clients">
										CLIENTS
									</a>

								</li>

								<li>
									<!-- ADMIN -->
									<a href="/admin">LOGIN</a>

								</li>

								<li>
									<!-- CONTACT US -->
									<a href="/#footer">
										CONTACT US
									</a>

								</li>


							</ul>

						</nav>
					</div>

				</div>
			</header>
			<!-- /Top Nav -->

		</div>


	<section class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-40 p-40 " style="background-image: url('/assets/AdobeStock_103570025.jpeg');">
		<span class="font-lato fs-30" style="color:rgb(300, 300, 300)">
			For the best elevators,
			<strong> Rocket Elevators ! </strong>
		</span>
	</section>

<section class= "dark">
    <div class="dark col-md-3">

						<h2>ABOUT US</h2>

						<p>
							Rocket Elevator is a dedicated compagny who listen his customers. Our slogan is elevate safety, speed and style.
							This is exactly the kind of elevator we make.
						</p>

						<hr />

						<p>
							<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> <a target="new" href="https://www.google.com/maps/place/725+Boulevard+Lebourgneuf,+Qu%C3%A9bec,+QC+G2J+1S1/@46.8428435,-71.2818835,17z/data=!3m1!4b1!4m5!3m4!1s0x4cb897ddc2cec043:0xd450d4d0da014cc8!8m2!3d46.8428399!4d-71.2796948">
									725 Boulevard Lebourgneuf, </a>
								Québec, QC G2J 1S1</span>
							<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:418-580-7055">418-580-7055</a></span>
							<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a target="new" href="https://imgur.com/gallery/TbKAF1l">support@codeboxx.biz</a></span>
						</p>

						<hr />

						<h4 class="font300">Business Hours</h4>
						<p>
							<span class="block"><strong>Monday - Friday:</strong> 8am to 6pm</span>
							<span class="block"><strong>Saturday:</strong> 10am to 2pm</span>
							<span class="block"><strong>Sunday:</strong> Closed</span>
						</p>

						<div class="mapouter">
							<div class="gmap_canvas"><iframe width="300" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=725%20Boulevard%20Lebourgneuf%2C%20Qu%C3%A9bec%2C%20QC%20G2J%201S1&t=&z=13&ie=UTF8&iwloc=&output=embed"
								 frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div>
							<style>
								.mapouter {
									text-align: right;
									height: 300px;
									width: 300px;
								}

								.gmap_canvas {
									overflow: hidden;
									background: none !important;
									height: 300px;
									width: 300px;
								}
							</style>
						    </div>

					    </div>
                 
    
