<div id="wrapper">

		<div id="header" class="dark navbar-toggleable-md sticky clearfix shadow-before-1">

			<!-- TOP NAV -->
			<header id="topNav">
				<div class="container">

					<!-- Mobile Menu Button -->
					<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
					</button>

					<!-- BUTTONS -->
					<ul class="float-right nav nav-pills nav-second-main">




					</ul>
					<!-- /BUTTONS -->


					<!-- Logo -->
					<a class="submenu-dark" href="index.html">
						<%= image_tag("R22.png", :alt => "RocketElevator-logo", :class => "img-fluid", :width =>"150", :height =>"60") %>
					</a>

					<div class="navbar-collapse collapse float-right nav-main-collapse">
						<nav class="nav-main">

							<ul id="topMain" class="nav nav-pills nav-main">
								<li>
									<!-- HOME -->
									<a href="/">
										HOME
									</a>

								</li>

								<li>
									<!-- SERVICES -->
									<a href="/#to_services">
										SERVICES
									</a>
									<ul class="dropdown-menu">
										<li><a href="/RocketElevatorsWebpage_Residential.html">Residential offers</a></li>
										<li><a href="/RocketElevatorsWebpage_Corporate.html">Corporate offers</a></li>
										<li><a href="/RocketElevatorsWebpage_submission.html">Submission</a></li>
									</ul>

								<li>
									<!-- PORTFOLIO -->
									<a href="/#to_portfolio">
										PORTFOLIO
									</a>

								<li>
									<!-- NEWS -->
									<a href="/#to_news">
										NEWS
									</a>

								</li>


								<li>
									<!-- CLIENTS -->
									<a href="/#to_clients">
										CLIENTS
									</a>

								</li>

								<li>
									<!-- ADMIN -->
									<a href="/admins">LOGIN</a>

								</li>

								<li>
									<!-- GRAPH -->
									<a href="charts">GRAPH</a>

								</li>

								<li>
									<!-- CONTACT US -->
									<a href="/#footer">
										CONTACT US
									</a>

								</li>


							</ul>

						</nav>
					</div>

				</div>
			</header>
			<!-- /Top Nav -->

		</div>


	<section class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-40 p-40 " style="background-image: url('/assets/AdobeStock_103570025.jpeg');">
		<span class="font-lato fs-30" style="color:rgb(300, 300, 300)">
			For the best elevators,
			<strong> Rocket Elevators ! </strong>
		</span>
	</section>

<section class= "dark">


    <div class=" col-md-6 dark">

						
						 
