<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Rocket Elevators</title>
	<meta name="Rocket Elevators Website" content="" />
	<meta name="Dominic Villemure" content="Dominic Villemure [www.codeboxx.biz]" />
	<link rel="icon" type="image/png" href="R22.png">
</head>


<body class="smoothscroll enable-animation">

    <script>
        window.fetch('http://api.openweathermap.org/data/2.5/weather?q=London,uk&APPID=82021d180d9e5567fdc52b7c016ef03e')
        .then(res => res.json())
        .then(resJson => console.log(resJson.weather[0].main))
        
    </script>


</body>