<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Rocket Elevators</title>
	<meta name="Rocket Elevators Website" content="" />
	<meta name="Dominic Villemure" content="Dominic Villemure [www.codeboxx.biz]" />
	<link rel="icon" type="image/png" href="RocketElevatorAssets/R22.png">

	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!-- WEB FONTS : use %7C instead of | (pipe) -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" /> -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<!-- CORE CSS -->
	<%# <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

	<!-- REVOLUTION SLIDER -->
	<link href="assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

	<!-- THEME CSS -->
	<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/bootstrap/css/Custom.css" rel="stylesheet" type="text/css" />

	<!-- PAGE LEVEL SCRIPTS -->
	<link href="assets/css/header-2.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/color_scheme/lightgrey.css" rel="stylesheet" type="text/css" id="color_scheme" /> %>
</head>

<body class="smoothscroll enable-animation">




	<!-- wrapper -->
	<div id="wrapper">

		<div id="header" class="dark navbar-toggleable-md sticky clearfix shadow-before-1">

			<!-- SEARCH HEADER -->
			<div class="search-box over-header">
				<a id="closeSearch" href="#" class="fa fa-remove"></a>

				<form action="page-search-result-1.html" method="get">
					<input type="text" class="form-control" placeholder="SEARCH" />
				</form>
			</div>
			<!-- /SEARCH HEADER -->

			<!-- TOP NAV -->
			<header id="topNav">
				<div class="container">

					<!-- Mobile Menu Button -->
					<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
					</button>

					<!-- BUTTONS -->
					<ul class="float-right nav nav-pills nav-second-main">



					</ul>
					<!-- /BUTTONS -->


					<!-- Logo -->
					<a class="submenu-dark" href="index.html">
						<%= image_tag("R22.png", :alt => "RocketElevator-logo", :class => "img-fluid", :width =>"150", :height =>"60") %>
					</a>

					<div class="navbar-collapse collapse float-right nav-main-collapse">
						<nav class="nav-main">


							<ul id="topMain" class="nav nav-pills nav-main">
								<li>
									<!-- HOME -->
									<a href="index.html">
										HOME
									</a>

								</li>

								<li>
									<!-- SERVICES -->
									<a href="index.html#to_services">
										SERVICES
									</a>
									<ul class="dropdown-menu">
										<li><a href="RocketElevatorsWebpage_Residential.html">Residential offers</a></li>
										<li><a href="RocketElevatorsWebpage_Corporate.html">Corporate offers</a></li>
										<li><a href="RocketElevatorsWebpage_submission.html">Submission</a></li>
									</ul>

								<li>
									<!-- PORTFOLIO -->
									<a href="index.html#to_portfolio">
										PORTFOLIO
									</a>

								<li>
									<!-- NEWS -->
									<a href="index.html#to_news">
										NEWS
									</a>

								</li>


								<li>
									<!-- CLIENTS -->
									<a href="index.html#to_clients">
										CLIENTS
									</a>

								</li>

								<li>
									<!-- ADMIN -->
									<a href="admins">LOGIN</a>

								</li>

								<li>
									<!-- GRAPH -->
									<a href="charts">GRAPH</a>

								</li>

								<li>
									<!-- CONTACT US -->
									<a href="#footer">
										CONTACT US
									</a>

								</li>


							</ul>

						</nav>
					</div>

				</div>
			</header>
			<!-- /Top Nav -->

		</div>






		<!--<hr class="m-0" /> 1px line separator -->


		<!-- BUTTON CALLOUT -->
		<section class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-40 p-40 " style="background-image: url('/assets/AdobeStock_103570025.jpeg');">
		<span class="font-lato fs-30" style="color:rgb(300, 300, 300)">
			
			<strong> Residential Solutions </strong>
		</span>
	</section>
		<!-- /BUTTON CALLOUT -->



		<!-- Rocket X1080 -->
		<section class=dark>
			<div class="container">

				<div class="row">

					<div class="col-md-4 col-sm-6">
						<h2 class="cover-column-title">
							<span>Rocket X1080</span>
							<small>Very High Quality</small>
						</h2>

						<div class="cover-column h-500" style="background-image:url('/assets/all_side_windows_panel.jpg')"></div>

					</div>

					<div class="col-md-8 col-sm-6">

						<div class="block">

							<h3 class="mb-0">Speed </h3>
							<p>This residential elevator can go from 1 to 3 m/s</p>

							<h3 class="mb-0">Max Charge </h3>
							<p>The Rocket X1080 is designed for a max of 2500 kg / 25 people </p>

							<h3 class="mb-0">Max Course</h3>
							<p>If you have very tall building, it's the perfect choice. It can go up to 120m high</p>

							<h3 class="mb-0">Material</h3>
							<p>This is the best quality elevator we have for residential. It's made of titanium and carbon and glass. Light
								and solid.</p>

							<h3 class="mb-0">Decoration</h3>
							<p>You can ask what you want for decoration. We have professional paints and interior designer for your dream
								elevator</p>

							<h3 class="mb-0">Sound and Visual</h3>
							<p> Bose 1000 watts speaker and LCD panel all around are included. You can make every ambiance you want in it.</p>

						</div>

					</div>

				</div>

			</div>
		</section>
		<!--/ Rocket X1080 -->


		<!-- Rocket X1070 -->
		<section class=dark>
			<div class="container">

				<div class="row">

					<div class="col-md-4 col-sm-6">
						<h2 class="cover-column-title">
							<span>Rocket X1070</span>
							<small>High Quality</small>
						</h2>

						<div class="cover-column h-500" style="background-image:url('/assets/Mirror_elevator.jpg')"></div>

					</div>

					<div class="col-md-8 col-sm-6">

						<div class="block">

							<h3 class="mb-0">Speed </h3>
							<p>This residential elevator can go from 1 to 2 m/s</p>

							<h3 class="mb-0">Max Charge </h3>
							<p>The Rocket X1070 is designed for a max of 2000 kg / 20 people </p>

							<h3 class="mb-0">Max Course</h3>
							<p>If you have tall building, it's a good choice. It can go up to 80m high</p>

							<h3 class="mb-0">Material</h3>
							<p>This is a very good quality elevator. It's made of titanium and carbon and glass. Light and solid.</p>

							<h3 class="mb-0">Decoration</h3>
							<p>You can ask what you want for decoration. We have professional paints and interior designer for your dream
								elevator</p>

							<h3 class="mb-0">Sound and Visual</h3>
							<p> Bose 500 watts speaker and glass all around are included. You can make every sound ambiance you want in it,
								without images</p>

						</div>

					</div>

				</div>

			</div>
		</section>
		<!-- /Rocket X1070 -->


		<!-- Rocket X1060 -->
		<section class=dark>
			<div class="container">


				<div class="row">

					<div class="col-md-4 col-sm-6">
						<h2 class="cover-column-title">
							<span>Rocket X1060</span>
						</h2>

						<div class="cover-column h-500" style="background-image:url('/assets/normal_q_elevator.jpg')"></div>

					</div>

					<div class="col-md-8 col-sm-6">

						<div class="block">

							<h3 class="mb-0">Speed </h3>
							<p>This residential elevator can go up to 1 m/s</p>

							<h3 class="mb-0">Max Charge </h3>
							<p>The Rocket X1060 is designed for a max of 1500 kg / 15 people </p>

							<h3 class="mb-0">Max Course</h3>
							<p> Max 28 floors. It can go up to 30m high</p>

							<h3 class="mb-0">Material</h3>
							<p>This is medium quality for residential elevator. It's made of steel and plastic</p>

							<h3 class="mb-0">Decoration</h3>
							<p>You can ask what you want for decoration. We have professional paints and interior designer for your dream
								elevator</p>

							<h3 class="mb-0">Sound and Visual</h3>
							<p> Bose 100 watts speaker plactic walls. Easy to wash.</p>

						</div>

					</div>

				</div>

			</div>
		</section>
		<!-- /Rocket X1060 -->

		<!-- Rocket X1050 -->
		<section class=dark>
			<div class="container">


				<div class="row">

					<div class="col-md-4 col-sm-6">
						<h2 class="cover-column-title">
							<span>Rocket X1050</span>
						</h2>

						<div class="cover-column h-500" style="background-image:url('/assets/wooden_elevator_1.jpg')"></div>

					</div>

					<div class="col-md-8 col-sm-6">

						<div class="block">

							<h3 class="mb-0">Speed </h3>
							<p>This residential elevator can go up to 0.1 m/s , better have time.</p>

							<h3 class="mb-0">Max Charge </h3>
							<p>The Rocket X1050 is designed for a max of 100 kg / 1 people, you can try 2 if you don't fear to fall down </p>

							<h3 class="mb-0">Max Course</h3>
							<p> Max 2 floors. It can go up to 6m high... if you are lucky</p>

							<h3 class="mb-0">Material</h3>
							<p>This is low quality for residential elevator. It's made of wood and ropes. Not very solid and a litle bit
								dangerous.</p>

							<h3 class="mb-0">Decoration</h3>
							<p> We can give you some stickers</p>

							<h3 class="mb-0">Sound and Visual</h3>
							<p> Perfect to create fear experience </p>

						</div>

					</div>

				</div>

			</div>
		</section>
		<!-- /Rocket X1050 -->







		<!-- FOOTER -->
		<footer id="footer">
			<div class="container">


				<div class="row">

					<!-- FORM -->
					<div class="col-md-9">

						<h2>CONTACT US </h2>




						<!-- Alert Success -->
						<div id="alert_success" class="alert alert-success mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Thank You!</strong> Your message successfully sent!
						</div><!-- /Alert Success -->


						<!-- Alert Failed -->
						<div id="alert_failed" class="alert alert-danger mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>[SMTP] Error!</strong> Internal server error!
						</div><!-- /Alert Failed -->


						<!-- Alert Mandatory -->
						<div id="alert_mandatory" class="alert alert-danger mb-30">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
						</div><!-- /Alert Mandatory -->


						<form method="post" action="/leads" enctype="multipart/form-data">
							<fieldset>
								<input type="hidden" name="action" value="contact_send" />

								<div class="row">

									<div class="col-md-4">
										<label for="date"> Date </label>
										<input required type="date" value="" class="form-control" name="date" id="date">
									</div>


									<div class="col-md-4">
										<label for="full_name"> Full Name </label>
										<input required type="text" value="" class="form-control" name="full_name" id="full_name">
									</div>
									<div class="col-md-4">
										<label for="business_name">Business Name </label>
										<input required type="text" value="" class="form-control" name="business_name" id="business_name">
									</div>
									<div class="col-md-4">
										<label for="email">E-mail Address </label>
										<input required type="email" value="" class="form-control" name="email" id="email">
									</div>
									<div class="col-md-4">
										<label for="phone_number">Phone Number</label>
										<input type="phone" value="" class="form-control" name="phone_number" id="phone_number">
									</div>
									<div class="col-md-4">
										<label for="department_in_charge_of_elevators">Department in charge of elevators</label>
										<input type="text" value="" class="form-control" name="department_in_charge_of_elevators" id="departement_in_charge_of_elevators">
									</div>






								</div>
								<div class="row">
									<div class="col-md-8">
										<label for="project_name">Name of the project </label>
										<input required type="text" value="" class="form-control" name="project_name" id="project_name">
									</div>

								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="project_description">Description of the project </label>
										<textarea required maxlength="10000" rows="8" class="form-control" name="project_description" id="project_description"></textarea>
									</div>

									<div class="col-md-12">Message </label>
										<textarea required maxlength="10000" rows="8" class="form-control" name="message" id="message"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-md-9">
										<label for="attached_file">File Attachment</label>

										<!-- custom file upload -->
										<input class="custom-file-upload" type="file" id="file" name="attached_file" id="attached_file"
										 data-btn-text="Select a File" />
										<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

									</div>
								</div>

							</fieldset>

							<div class="row">
								<div class="col-md-12">
									<button type="submit" class="btn btn-primary"><i class="fa fa-check"> </i> SEND YOUR INFORMATIONS
									</button>
								</div>
							</div>
						</form>

					</div>
					<!-- /FORM -->

					<!-- INFO -->
					<div class="col-md-3">

						<h2>ABOUT US</h2>

						<p>
							Rocket Elevator is a dedicated compagny who listen his customers. Our slogan is elevate safety, speed and style.
							This is exactly the kind of elevator we make.
						</p>

						<hr />

						<p>
							<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> <a target="new" href="https://www.google.com/maps/place/725+Boulevard+Lebourgneuf,+Qu%C3%A9bec,+QC+G2J+1S1/@46.8428435,-71.2818835,17z/data=!3m1!4b1!4m5!3m4!1s0x4cb897ddc2cec043:0xd450d4d0da014cc8!8m2!3d46.8428399!4d-71.2796948">
									725 Boulevard Lebourgneuf, </a>
								Québec, QC G2J 1S1</span>
							<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:418-580-7055">418-580-7055</a></span>
							<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="support@codeboxx.biz">support@codeboxx.biz</a></span>
						</p>

						<hr />

						<h4 class="font300">Business Hours</h4>
						<p>
							<span class="block"><strong>Monday - Friday:</strong> 8am to 6pm</span>
							<span class="block"><strong>Saturday:</strong> 10am to 2pm</span>
							<span class="block"><strong>Sunday:</strong> Closed</span>
						</p>

						<div class="mapouter">
							<div class="gmap_canvas"><iframe width="300" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=725%20Boulevard%20Lebourgneuf%2C%20Qu%C3%A9bec%2C%20QC%20G2J%201S1&t=&z=13&ie=UTF8&iwloc=&output=embed"
								 frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div>
							<style>
								.mapouter {
									text-align: right;
									height: 300px;
									width: 300px;
								}

								.gmap_canvas {
									overflow: hidden;
									background: none !important;
									height: 300px;
									width: 300px;
								}
							</style>
						</div>

					</div>
					<!-- /INFO -->


				</div>

			</div>
			</section>
			<!-- / -->




			<!-- FOOTER -->
			<div class="copyright">
				<div class="container">
					<ul class="float-right m-0 list-inline mobile-block">
						<li><a href="#"></a></li>

						<li><a href="#">(418)580-7055</a></li>
						
					</ul>
					WHY US ? Because we are the best in the elevators technology.
				</div>
			</div>
			<!-- /FOOTER -->
			<!-- /col #2 -->

	</div>


	</div>



	</footer>
	<!-- /FOOTER -->

	</div>
	<!-- /wrapper -->


	<!-- SCROLL TO TOP -->
	<a href="#" id="toTop"></a>





	<!-- JAVASCRIPT FILES -->
	<script>
		var plugin_path = 'assets/plugins/';
	</script>
	<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

	<script src="/assets/scripts.js"></script>
	



	

</body>

</html>